.CardSkills{
    
    .Card{
        background-color: #A3B18A;
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        width: 400px;    
        height: 378px;
        box-shadow: 0 5px 25px rgba(0,0,0,0.25);
        
        .Icone{
        display: flex;
        align-items: center;
        justify-content: center;

        .Img{
            margin: 20px;
            img{
                transition: 0.5s;
                width: 130px;
                height: 130px;
            }
            img:hover{
                transform: scale(1.1);
                transition: 0.5s;
            }
            }
        }
        
        .Texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 20px;
            .Titulo{
                h1{
                    text-align: start;
                    font-size: 30px;
                    color: rgba(44,98,54,1);
                    margin-bottom: 0px; 
                }
            }
        .SubTexto{
            p{  
                color: rgba(44,98,54,1);
                font-size: 22px;
                line-height: 30px;
                padding: 0px;
            }
        }
        }
        
    }
    
}
@media ( max-width: 768px){
    .CardSkills{
    
        .Card{
            width: 300px;    
            height: auto;
            
            .Icone{
                .Img{
                    margin: 20px;
                    img{
                        transition: 0.5s;
                        width: 100px;
                        height: 100px;
                    }
                    img:hover{
                        transform: scale(1.1);
                        transition: 0.5s;
                    }
                }
            }
            
            .Texto{

                .Titulo{
                    h1{
                        text-align: start;
                        font-size: 20px;
                        color: rgba(44,98,54,1);
                        margin-bottom: 0px; 
                    }
                }
            .SubTexto{
                p{  
                    color: rgba(44,98,54,1);
                    font-size: 18px;
                    line-height: 30px;
                    padding-right: 10px;
                }
            }
            }
            
        }
        
    }
}
