.CardSkills{
    .Icone{
        display: flex;
        align-items: center;
        justify-content: center;
        .Img{
            margin-top: 10px;
            img{
                width: 150px;
                height: 150px;
            }
        }
    }
    .Card{
        background-color: #A3B18A;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 300px;
        .Titulo{
            h1{
                text-align: start;
                padding-left: 25px;
                font-size: 30px;
                color: rgba(44,98,54,1);
                margin-bottom: 0px; 
                margin-top: 20px;
            }
        }
        .Texto{
            p{  
                color: #DAD7CD;
                font-size: 22px;
                line-height: 30px;
                padding: 0px 50px 10px 50px;
            }
        }
    }
    
}